<div class="header_content">
    <section class="form_content">
        <form>
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Danh mục </a></li>
                            <li class="breadcrumb-item"><a href="#">Danh mục chung</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Quản lý khách hàng</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-left">
                    <p class="text-uppercase" style="font-size:18px;color: #587792; font-weight:bold; font-family: 'Lato', sans-serif;"><span>Quản lý khách hàng</span></p>
                </div>
                <div class="col-sm-8 text-right">
                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-sm" (click)="SerachAction()">
                <i class="fab fa-searchengin"></i> Tìm kiếm
              </button>&nbsp;
                        <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/customerdetail']">
                <i class="fas fa-plus-circle"></i> Thêm mới
              </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                        <label class="col-sm-12 control-label">Tìm kiếm</label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group mb-3 ">
                                <input type="text" [(ngModel)]="dataSerach" name="dataSerach" class="form-control form-control-sm" placeholder="Mã, Tên khách hàng">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <label class="col-sm-12 control-label">Nhóm khách hàng</label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group mb-3 ">
                                <div class="input-group mb-3 ">
                                    <ng-select [(ngModel)]="cboCustomerType" name="cboCustomerType" class="select-custom select-full-border" (clear)="clearustomerType()">
                                        <ng-option [value]="-1">--Tất cả--</ng-option>
                                        <ng-option *ngFor="let item of lstCustomerType" [value]="item.CustomerTypeId">{{item.CustomerTypeName}}</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <label class="col-sm-12 control-label">Trạng thái</label>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group mb-3 ">
                                <ng-select [(ngModel)]="cboIsActive" name="cboIsActive" class="select-custom select-full-border" (clear)="clearIsActive()">
                                    <ng-option *ngFor="let status of lstStatus" [value]="status.StatusId">{{status.StatusName}}</ng-option>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</div>
<div class="main_content">
    <section class="form_content">
        <div class="table-responsive">
            <!-- Table  -->
            <table class="table table-bordered table-striped table-hover table-fixed">
                <!-- Table head -->
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mã KH</th>
                        <th>Tên Khách Hàng</th>
                        <th>Địa Chỉ</th>
                        <th>Điện Thoại</th>
                        <th>Email</th>
                        <th>Người Đại Diện</th>
                        <th>Trạng Thái</th>
                        <th>Sort</th>
                        <th></th>
                    </tr>
                </thead>
                <!-- Table head -->
                <!-- Table body -->
                <tbody>
                    <tr *ngIf="lstDataResult.length <= 0">
                        <td colspan="10" class="datarow-null">Dữ liệu không tồn tại</td>
                    </tr>
                    <tr *ngFor="let row of lstDataResult; let i = index">
                        <td class="order-number">{{i + 1}}</td>
                        <td class="col-code"><a href="javascript:void(0)" [routerLink]="['/customerdetail', row.CustomerId]" data-toggle="modal" data-target="#formModal" style="cursor: pointer; color: #337ab7">{{row.CustomerCode}}</a></td>
                        <td class="col-name">{{row.CustomerName}}</td>
                        <td class="col-address">{{row.Address}}</td>
                        <td>{{row.PhoneNumber}}</td>
                        <td class="col-name">{{row.Email}}</td>
                        <td class="col-name">{{row.RepresentativeName}}</td>

                        <td>
                            <i [ngClass]="{'fas fa-check-square':row.IsActive, 'far fa-square': !row.IsActive}" [ngStyle]="{'color': '#337ab7'}"></i>
                        </td>
                        <td class="col-moveaction">
                            <a (click)="actionUp(i)"><i class="fas fa-arrow-alt-circle-up" style="color:forestgreen; font-size:14px"></i></a>&nbsp;&nbsp;&nbsp;
                            <a (click)="actionDow(i)"><i class="fas fa-arrow-alt-circle-down" style="color:forestgreen; font-size:14px"></i></a>
                        </td>
                        <td class="col-action">
                            <a href="javascript:void(0)" [routerLink]="['/customerdetail', row.CustomerId]"><i class="fas fa-edit" style='color:#337ab7;'></i></a>&nbsp;&nbsp;&nbsp;
                            <a (click)="openDialog(row.CustomerId)"><i class="far fa-trash-alt" style='color:#337ab7;'></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-pagination (goPage)="goToPage($event)" (changeLimit)="changeLimit()" (goNext)="onNext()" (goPrev)="onPrev()" [pagesToShow]="5" [page]="page" [perPage]="limit" [count]="total"></app-pagination>
    </section>
</div>