<connectionStrings>
    <add name="DBEntities"
         connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;data source=.;initial catalog=SimERP;persist security info=True;user id=admin;password=admin;MultipleActiveResultSets=True;Min Pool Size=5;Max Pool Size=100;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    <add name="DBConnectionString"
         connectionString="Data Source=.;Initial Catalog=SimERP; Persist Security Info=True;User ID=admin;Password=admin;MultipleActiveResultSets=True;Min Pool Size=5;Max Pool Size=100;" />

</connectionStrings>


<!--<connectionStrings>
  <add name="DBEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;data source=.;initial catalog=His;persist security info=True;user id=admin;password=admin;MultipleActiveResultSets=True;Min Pool Size=5;Max Pool Size=100;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DBConnectionString" connectionString="Data Source=.;Initial Catalog=His; Persist Security Info=True;User ID=admin;Password=admin;MultipleActiveResultSets=True;Min Pool Size=5;Max Pool Size=100;" />
 
  <add name="DBEntities_CloseFiscal" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;
         provider connection string=&quot;data source=.;initial catalog=HisDemo;persist security info=True;user id=sa;password=admin;MultipleActiveResultSets=True;Min Pool Size=5;Max Pool Size=100;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DBMasterConnectionString" connectionString="Data Source=.;Initial Catalog=master;Persist Security Info=True;User ID=sa;password=admin;MultipleActiveResultSets=True;Min Pool Size=5;Max Pool Size=100;" />
</connectionStrings>-->