<div class="header_content">
  <section class="form_content">
    <form>
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Danh mục</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="#" [routerLink]="'/supplier'">Quản lý nhà
                cung cấp</a></li>
            </ol>
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 text-left">
          <p class="text-uppercase"
             style="font-size:18px;color: #587792; font-weight:bold; font-family: 'Lato', sans-serif;">
            <span>Nhà cung cấp</span></p>
        </div>
        <div class="col-sm-8 text-right">
          <div class="form-group">
            <button type="button" style="" class="btn btn-success btn-sm" (click)="SearchAction()">
              <i class="fab fa-searchengin" *appCheckpermission="['VIEW']"></i> Tìm kiếm
            </button>&nbsp;
            <button type="button" style="" class="btn btn-primary btn-sm" [routerLink]="['/supplierdetail']"
                    *appCheckpermission="['ADD']">
              <i class="fas fa-plus-circle"></i> Thêm mới
            </button>&nbsp;
            <button type="button" style="" class="btn btn-primary btn-sm" [routerLink]="['/supplierdetail', '123']"
                    *appCheckpermission="['EDIT']">Chỉnh sửa
            </button>
            <button nz-button nzType="primary"><i nz-icon nzType="search"></i>Search</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="row">
            <label class="col-sm-12 control-label">Tìm kiếm</label>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group mb-3 ">
                <input type="text" [(ngModel)]="searchString" name="searchString" class="form-control form-control-sm"
                       placeholder="Mã, tên nhà cung cấp" (keydown.enter)="SearchAction()">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="row">
            <label class="col-sm-12 control-label">Nhóm nhà cung cấp</label>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group mb-3 ">
                <ng-select [(ngModel)]="isActive" name="isActive" class="select-custom select-full-border"
                           (clear)="clearIsActive()">
                  <ng-option *ngFor="let status of lstStatus"
                             [value]="status.StatusId">{{status.StatusName}}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="row">
            <label class="col-sm-12 control-label">Trạng thái</label>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group mb-3 ">
                <ng-select [(ngModel)]="isActive" name="isActive" class="select-custom select-full-border"
                           (clear)="clearIsActive()">
                  <ng-option *ngFor="let status of lstStatus"
                             [value]="status.StatusId">{{status.StatusName}}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <nz-select [(ngModel)]="selectedValue" nz [nzSuffixIcon]="suffixIcon" nzShowSearch
                       [nzMenuItemSelectedIcon]="nzMenuItemSelectedIcon" [nzRemoveIcon]="nzMenuItemSelectedIcon" [nzClearIcon]="nzMenuItemSelectedIcon" name="selectedValue" nzAllowClear nzAutoFocus
                       nzPlaceHolder="--Tất cả--">
              <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
              <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
              <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
            </nz-select>
            <ng-template #suffixIcon>
              <!--              <i nz-icon type="search"></i>-->
              <i nz-icon nzType="caret-down" nzTheme="fill"></i>
            </ng-template>
            <ng-template #nzMenuItemSelectedIcon>
              <!--              <i nz-icon type="search"></i>-->
              <i nz-icon nzType="caret-up" nzTheme="fill"></i>
            </ng-template>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <nz-date-picker name="date"
                            [(ngModel)]="date" nzFormat="dd/MM/yyyy"
                            (ngModelChange)="onChangeDate($event)"
                            nzPlaceHolder="--Chọn ngày tạo--"
            ></nz-date-picker>
          </div>
        </div>
        <div class="col-md-3">
          <label nz-checkbox [(ngModel)]="checked" name="checked">Checkbox</label>
        </div>
      </div>
    </form>
  </section>
</div>
<div class="main_content">
  <section class="form_content">
    <div class="table-responsive">

      <!-- Table  -->
      <table class="table table-bordered table-striped table-hover table-fixed">

        <!-- Table head -->
        <thead>
        <tr>
          <th>#</th>
          <th>Mã nhà cung cấp</th>
          <th>Tên nhà cung cấp</th>
          <th>Địa chỉ</th>
          <th>Điện thoai</th>
          <th>Email</th>
          <th>Người đại diện</th>
          <th>Trạng thái</th>
          <th></th>
        </tr>
        </thead>
        <!-- Table head -->

        <!-- Table body -->
        <tbody>
        <tr *ngIf="lstDataResult?.length <= 0">
          <td colspan="9" class="datarow-null">Dữ liệu không tồn tại</td>
        </tr>
        <tr *ngFor="let row of lstDataResult; let i = index">
          <td class="order-number">{{i + 1}}</td>
          <td class="col-code"><a (click)="showDialog(row.ProductId)"
                                  style="cursor: pointer; color: #337ab7">{{row.ProductCode}}</a></td>
          <td class="col-name">{{row.ProductName}}</td>
          <td class="col-name" style="text-align: center">{{row.UnitName}}</td>
          <td class="col-name" style="text-align: center">{{row.PackageUnitName}}</td>
          <td class="col-name" style="text-align: center">{{row.ProductCategoryName}}</td>
          <td class="col-name" style="text-align: center">{{row.CountryName}}</td>
          <td class="col-active">
            <i [ngClass]="{'fas fa-check-square':row.IsActive, 'far fa-square': !row.IsActive}"
               [ngStyle]="{'color': '#337ab7'}"></i>
          </td>
          <td class="col-action">
            <a (click)="showDialog(row.ProductId)"><i class="fas fa-edit" style='color:#337ab7;'></i></a>&nbsp;&nbsp;&nbsp;
            <a (click)="showConfirmDeleteDialog(row)"><i class="far fa-trash-alt" style='color:#337ab7;'></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <app-pagination (goPage)="goToPage($event)" (changeLimit)="changeLimit()" (goNext)="onNext()" (goPrev)="onPrev()"
                    [pagesToShow]="5" [page]="page" [perPage]="limit" [count]="total"></app-pagination>
  </section>
</div>
