<section class="form_content">
  <form>
    <!--    Buttons-->
    <div class="row">
      <div class="col-sm-4 text-left">
        <p class="text-uppercase"
           style="font-size:18px;color: #587792; font-weight:bold; font-family: 'Lato', sans-serif;">
          <span>NHÀ CUNG CẤP</span></p>
      </div>
      <div class="col-sm-8 text-right">
        <div class="form-group">
          <button type="submit" class="btn btn-success btn-sm" *appCheckpermission="['SAVE']">
            <i class="far fa-save"></i> Lưu (F3)
          </button>&nbsp;
          <button type="button" class="btn btn-success btn-sm" *appCheckpermission="['SAVE', 'ADD']">
            <i class="far fa-check-square"></i> Lưu & Thêm mới (F4)
          </button>&nbsp;
          <button type="button" class="btn btn-primary btn-sm"
                  [routerLink]="['/supplier']" routerLinkActive="router-link-active">
            <i class="fas fa-long-arrow-alt-left"></i> Trở về (F10)
          </button>&nbsp;
        </div>
      </div>
    </div>
    <!--    Blank Row-->
    <div class="row">
      <div class="col-sm-12">
        <div style="border-top:0.5px solid #d6d6d6; margin:3px 0"></div>
      </div>
    </div>
    <!--    Info-->
    <div class="row">

      <div class="col-sm-6">
        <div class="form-horizontal">
          <div class="row">
            <label class="col-sm-5 control-label text-right">Tên nhà cung cấp<span
              class="control-label-require">*</span></label>
            <div class="col-sm-7">
              <input type="text" class="form-control form-control-sm"
                     style="box-shadow: none; border-top: none; border-left: none; border-right: none">
            </div>
          </div>
          <div class="row">
            <label class="col-sm-5 control-label text-right">Địa chỉ</label>
            <div class="col-sm-7">
              <input type="text" class="form-control form-control-sm"
                     style="box-shadow: none; border-top: none; border-left: none; border-right: none">
            </div>
          </div>
          <div class="row">
            <label class="col-sm-5 control-label text-right">Nhóm</label>
            <div class="col-sm-7">
              <ng-select name="isActive" class="select-custom select-bottom-border">
                <!--                <ng-option *ngFor="let status of lstStatus"-->
                <!--                           [value]="status.StatusId">{{status.StatusName}}</ng-option>-->
              </ng-select>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-5 control-label text-right">Email</label>
            <div class="col-sm-7">
              <input type="text" class="form-control form-control-sm"
                     style="box-shadow: none; border-top: none; border-left: none; border-right: none">
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-horizontal">
          <div class="row">
            <label class="col-sm-5 control-label text-right">Mã nhà cung cấp<span
              class="control-label-require">*</span></label>
            <div class="col-sm-7">
              <input type="text" class="form-control form-control-sm"
                     style="box-shadow: none; border-top: none; border-left: none; border-right: none">
            </div>
          </div>
          <div class="row">
            <label class="col-sm-5 control-label text-right">Điện thoại</label>
            <div class="col-sm-7">
              <input type="text" class="form-control form-control-sm"
                     style="box-shadow: none; border-top: none; border-left: none; border-right: none">
            </div>
          </div>
          <div class="row">
            <label class="col-sm-5 control-label text-right">Fax</label>
            <div class="col-sm-7">
              <input type="text" class="form-control form-control-sm"
                     style="box-shadow: none; border-top: none; border-left: none; border-right: none">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5 text-right"><label control-label></label></div>
            <div class="col-sm-7">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="IsActive"
                       name="IsActive">
                <label class="custom-control-label" for="IsActive">Sử dụng</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--    Tabs-->
    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
      <div class="col-sm-12">
        <ngb-tabset #tabset="ngbTabset">

          <ngb-tab id="tab-SupplierInfo">
            <ng-template ngbTabTitle>Thông tin nhà cung cấp</ng-template>
            <ng-template ngbTabContent>
              <div class="row" style="margin-bottom: 10px">
                <div class="col-sm-6">
                  <div class="form-horizontal">
                    <div class="row">
                      <label class="col-sm-5 control-label text-right">Mã số thuế</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm"
                               style="box-shadow: none; border-top: none; border-left: none; border-right: none">
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-5 control-label text-right">Tên công ty xuất hoá đơn</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm"
                               style="box-shadow: none; border-top: none; border-left: none; border-right: none">
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-5 control-label text-right">Địa chỉ xuất hoá đơn</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm"
                               style="box-shadow: none; border-top: none; border-left: none; border-right: none">
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-5 control-label text-right">TK ngân hàng</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm"
                               style="box-shadow: none; border-top: none; border-left: none; border-right: none">
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-5 control-label text-right">Ngân hàng</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm"
                               style="box-shadow: none; border-top: none; border-left: none; border-right: none">
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-5 control-label text-right">Website</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm"
                               style="box-shadow: none; border-top: none; border-left: none; border-right: none">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-5 text-right"><label control-label>Ghi chú</label></div>
                      <div class="col-sm-7">
                        <textarea type="text" style="border-bottom: 1px solid #ced4da;" name="TermCondition" rows="3"
                                  class="form-control-plaintext"></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-horizontal">
                    <div class="row">
                      <label class="col-sm-5 control-label text-right">Hạn thanh toán</label>
                      <div class="col-sm-7">
                        <ng-select name="ExpireDate" class="select-custom select-bottom-border">
                          <!--                <ng-option *ngFor="let status of lstStatus"-->
                          <!--                           [value]="status.StatusId">{{status.StatusName}}</ng-option>-->
                        </ng-select>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-5 control-label text-right">Hạn mức nợ</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm"
                               style="box-shadow: none; border-top: none; border-left: none; border-right: none">
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-5 control-label text-right">Người đại diện</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm"
                               style="box-shadow: none; border-top: none; border-left: none; border-right: none">
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-5 control-label text-right">ĐT người đại diện</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm"
                               style="box-shadow: none; border-top: none; border-left: none; border-right: none">
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-5 control-label text-right">Email người đại diện</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm"
                               style="box-shadow: none; border-top: none; border-left: none; border-right: none">
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-5 control-label text-right">Địa chỉ người đại diện</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm"
                               style="box-shadow: none; border-top: none; border-left: none; border-right: none">
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-5 control-label text-right">Loại tiền</label>
                      <div class="col-sm-7">
                        <ng-select name="ExpireDate" class="select-custom select-bottom-border">
                          <!--                <ng-option *ngFor="let status of lstStatus"-->
                          <!--                           [value]="status.StatusId">{{status.StatusName}}</ng-option>-->
                        </ng-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab id="tab-Product">
            <ng-template ngbTabTitle>Hàng hoá</ng-template>
            <ng-template ngbTabContent>
              <div class="table-responsive" style="margin-top: 10px;">

                <!-- Table  -->
                <table class="table table-bordered table-striped table-hover table-fixed">

                  <!-- Table head -->
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Mã hàng hoá</th>
                    <th>Tên hàng hoá</th>
                    <th>ĐVT</th>
                    <th>Made in</th>
                    <th>Ngành hàng</th>
                    <th>Giá</th>
                    <th>Trạng thái</th>
                    <th></th>
                  </tr>
                  </thead>
                  <!-- Table head -->

                  <!-- Table body -->
                  <tbody>
                  <tr *ngIf="lstDataResult?.length <= 0">
                    <td colspan="9" class="datarow-null">Dữ liệu không tồn tại</td>
                  </tr>
                  <tr *ngFor="let row of lstDataResult; let i = index">
                    <td class="order-number">{{i + 1}}</td>
                    <td class="col-code"><a (click)="showDialog(row.ProductId)"
                                            style="cursor: pointer; color: #337ab7">{{row.ProductCode}}</a></td>
                    <td class="col-name">{{row.ProductName}}</td>
                    <td class="col-name" style="text-align: center">{{row.UnitName}}</td>
                    <td class="col-name" style="text-align: center">{{row.CountryName}}</td>
                    <td class="col-name" style="text-align: center">{{row.ProductCategoryName}}</td>
                    <td class="col-name">{{row.VendorName}}</td>
                    <td class="col-active">
                      <i [ngClass]="{'fas fa-check-square':row.IsActive, 'far fa-square': !row.IsActive}"
                         [ngStyle]="{'color': '#337ab7'}"></i>
                    </td>
                    <td class="col-action">
                      <a (click)="showDialog(row.ProductId)"><i class="fas fa-edit" style='color:#337ab7;'></i></a>&nbsp;&nbsp;&nbsp;
                      <a (click)="showConfirmDeleteDialog(row)"><i class="far fa-trash-alt" style='color:#337ab7;'></i></a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <button type="button" class="btn btn-info btn-sm">
                <i class="fas fa-plus"></i> Thêm hàng hoá
              </button>&nbsp;
            </ng-template>
          </ngb-tab>

          <ngb-tab id="tab-AttachFile">
            <ng-template ngbTabTitle>Tài liệu</ng-template>
            <ng-template ngbTabContent>
              <div style="display: none">
                <input type="file" #file placeholder="Choose file" (change)="changeFile(file.files)" multiple
                       style="display:none;">
              </div>

              <div class="table-responsive" style="margin-top: 10px;">

                <!-- Table  -->
                <table class="table table-bordered table-striped table-hover table-fixed">

                  <!-- Table head -->
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>File</th>
                    <th>Tên hình ảnh/Tài liệu</th>
                    <th>Ghi chú</th>
                    <th>Tên gốc</th>
                    <th>Ngày update</th>
                    <th></th>
                  </tr>
                  </thead>
                  <!-- Table head -->

                  <!-- Table body -->
                  <tbody>
                  <tr *ngIf="model?.ListAttachFile.length < 1">
                    <td colspan="7" class="datarow-null">Dữ liệu không tồn tại</td>
                  </tr>
                  <tr *ngFor="let row of model.ListAttachFile; let i = index">
                    <td class="order-number">{{i + 1}}</td>
                    <td><img [src]="row.FilePathPreview" height="40px"></td>
                    <td class="col-name"><input type="text"
                                                [(ngModel)]="this.model.ListAttachFile[i].FileTitle"
                                                name="FileTitle{{i}}"
                                                class="form-control form-control-sm" maxlength="250"></td>
                    <td class="col-name"><input type="text"
                                                [(ngModel)]="this.model.ListAttachFile[i].Desctiption"
                                                name="Desctiption{{i}}"
                                                class="form-control form-control-sm" maxlength="500"></td>
                    <td style="text-align: left; text-overflow: ellipsis" class="col-name"><a href="javascript:void(0)"
                                                                                              (click)="openAttachFile(row)">{{row.FileNameOriginal}}</a>
                    </td>
                    <td class="col-code">{{row["CreatedDate"] | date : "dd/MM/yyyy"}}</td>
                    <td class="col-action">
                      <a (click)="setCurrentAttachFileIndex(i) || file.click()"><i class="fas fa-edit"
                                                                                   style='color:#337ab7;'></i></a>&nbsp;&nbsp;&nbsp;
                      <a (click)="deleteAttachFile(i)"><i class="far fa-trash-alt" style='color:#337ab7;'></i></a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <button type="button" class="btn btn-info btn-sm" (click)="file.click()">
                <i class="fas fa-plus"></i> Upload tài liệu/Hình ảnh
              </button>&nbsp;
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </form>
</section>
